.App {
  text-align: center;
  background-color: rgb(214, 231, 227);
  background-attachment: fixed;
  height: 100vh;
  min-height: "100vh";
}

header nav a {
  text-decoration: none;
  color: white;
}

header nav {
  background-color: rgb(28, 134, 134);
}

.about {
  width: 60%;
  margin: 50px auto;
  padding: 50px;
  border: 3px solid rgb(28, 134, 134);
}

.footer {
  background-color: rgb(28, 134, 134);;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 12px;
  margin: 20px;
  color: white;

}

.project img {
  width: 50%;
  border-radius: 20px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.project button {
  margin: 10px;
  padding: 6px;
}
